<div class="jumbotron">
    <h1 class="display-3 text-center">New Feed</h1>    
</div>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <%= render 'form', feed: @feed %>
            <br>
            <%= link_to 'Back', feeds_path %>    
        </div>
    </div>    
</div>


